<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }" class="pt-2" >
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      [src]="product.image"
    />

    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div class="flex flex-col gap-4 pt-4">
        <h5 class="capitalize" style="font-weight: 500; font-size: 1rem; ">{{product.category}}</h5>
        <p class="truncate hover:whitespace-normal">{{product.title}}</p>
        <p *ngIf="fullWidthMode">{{product.description}}</p>
      </div>
      <div class="flex justify-between px-3">
        <span class="text-red-400">{{ product.price | currency }}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
