<mat-expansion-panel *ngIf="categories">
    <mat-expansion-panel-header>
        <mat-panel-title>CATEGORIES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
        <mat-list-option color="primary" *ngFor="let item of categories" [value]="item">
            <button style="font-family: 'Montserrat', sans-serif;
            text-transform: capitalize;" 
            (click)="onShowCategory(item)" mat-button>{{item}}</button>
        </mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>
